body{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.container{
    width:1400px;
}

#header{
    background:#fff;
    display: flex;
    justify-content: center;
    height: 90px;
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 50px;
}
#header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#countries{
    background-color: #FAFAFA;
}

#countries .container{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#countries .container .country-item{
    width:300px;
    height:350px;
    border:1px solid #ccc;
    margin:10px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.4s;
}

#countries .container .country-item:hover{
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#countries .container .country-item .country-img{
   height: 160px;
   overflow: hidden;
   object-fit: contain;
}

#countries .container .country-item .country-img img{
    width:100%;
    height: auto;
 }


 #countries .container .country-item .country-detail{
    padding:10px;
 }

